header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: var(--bg-color);
	color: var(--text-color);
	align-items: center;
	position: sticky;
	top: 0;
	z-index:99999999;
}
header .logo {
	display: flex;
	align-items: center;
}
header .logo h1 {
	color: #b3d826;
	text-transform: capitalize;
	font-size: 1.5rem;
}
header nav{
	display: flex;
	gap: 1rem;
	align-items: center;
}
header nav a {
	margin: 0 10px;
	color: inherit;
	text-decoration: none;
}
header nav a:hover {
	color: #b3d826;
}
/* .btn{
	display: flex;
	gap: 1rem;
	padding: 8px 11px;
} */
header .btn button {
	padding: 10px 10px;
	border-radius: 32px;
	background-color: #b3d826;
	border: none;
	color: white;
	cursor: pointer;
	transition: 400ms ease-in-out;
    font-size: 1em;
	font-weight: 500;
}
header .btn button:hover {
	/* background-color: #b3d826; */
	transform: scale(1.04);
	box-shadow: rgb(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
header nav{
    display: none;
}
header .btn button {
	padding: 10px;
	border-radius: 32px;
	background-color: #b3d826;
	border: none;
	color: white;
	cursor: pointer;
	transition: 400ms ease-in-out;
    font-size: 1em;
	font-weight: 700;
}
}
